{% if messages.success %}
  <div class="alert alert-success" role="alert">{{ messages.success }}</div>
{% endif %}
{% if messages.error %}
  <div class="alert alert-danger" role="alert">{{ messages.error }}</div>
{% endif %}
{% if messages.info %}
  <div class="alert alert-info" role="alert">{{ messages.info }}</div>
{% endif %}
{% if messages.warning %}
  <div class="alert alert-warning" role="alert">{{ messages.warning }}</div>
{% endif %}