<div class="topnav" id="topnav">
  <a href="/">Home</a>
	<a href="/user/listing">Users</a>
  <a href="/user/login">Login</a>
  <a href="/user/register">Register</a>
</div>
<script>
const currentLocation = location.href;
const menuItem = document.getElementById("topnav").querySelectorAll('a');
const menuLength = menuItem.length;
let i;
for (i = 0; i < menuLength; i++) { 
  if(menuItem[i].href != '' && menuItem[i].href === currentLocation){
    menuItem[i].className = "active";
  }
}
</script>