{% extends 'layout.twig' %}

{% block body %}
  {% include 'inc/banner.twig' %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
{% endblock %}

{% block javascript %}
  <script src="js/banner.js"></script>
{% endblock %}
