{% extends 'layout.twig' %}

{% block body %}
  {% include 'inc/banner.twig' %}
  <div class="jumbotron text-center">
    <h2>{{title}}{{loggedin}}</h2>
    <h4>NATIONAL PROGRAMME FOR DEVELOPMENT OF SPORTS</h4>
    <p>The importance of sports and fitness in one’s life is invaluable. Playing sports inculcates team spirit, develops strategic &amp; analytical thinking, leadership skills, goal setting and risk taking. A fit and healthy individual leads to an equally healthy society and strong nation.</p>
    <p>Sports is an extremely important component for the overall development of our nation. India, in the last few years has made steady progress in the field of sports. This tremendous potential needs to be showcased at a global platform. It’s time we inspire young talent, give them top-notch infrastructure and training of the highest level. We need to inculcate a strong spirit of participation in sports that enables players to demonstrate their true potential. Only then can India realise its dream of becoming a sports super power.</p>
  </div>    
{% endblock %}

{% block javascript %}
  <script src="js/banner.js"></script>
{% endblock %}
