{% extends 'layout.twig' %}

{% block body %}
  <form method="post" action="profileupdate">
    <div class="container">
      <h3>{{ title }}</h3>
      <p>Please fill in this form to update user account.</p>
      <hr>
      <div class="row">
        <div class="col">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="fname"><b>First Name</b></label>
          <input type="text" placeholder="Enter first name" name="fname" required>

          <label for="lname"><b>Last Name</b></label>
          <input type="text" placeholder="Enter last name" name="lname" required>

          <label for="mobile"><b>Mobile</b></label>
          <input type="text" placeholder="Enter mobile number" name="mobile" required>
        </div>
        <div class="col">
          <label for="city"><b>City</b></label>
          <input type="text" placeholder="Enter city name" name="city" required>

          <label for="profileimage"><b>Profile Image</b></label>
          <input type="file" name="profileimage" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw_repeat" required>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" class="registerbtn">Update</button>
        </div>
      </div>      
    </div>

  </form>
{% endblock %}
